html {
    font-size: 62.5%; /* This makes 1rem = 10px (62.5% of the default 16px = 10px) */
}

body {
    font-family: "Open Sans", sans-serif; /* Fallback to system sans-serif */
    font-size: 1.6rem; /* Based on your 10px rem setup */
}

h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
}

.main-container {
    min-height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(#f4d03fbb, #f4d03fbb),
        url("https://www.theodysseyonline.com/media-library/image.png?id=55522051&width=1200&height=600&coordinates=0%2C167%2C0%2C167");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search-box {
    flex-direction: column;
    gap: 5rem;
    display: flex;
}

.title {
    font-size: 6rem;
}

.search-input-container {
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
    height: 3rem;
}

.search-input {
    border: none;
    flex-grow: 1;
    font-size: 1.4rem;
}

.search-input:focus {
    outline: none;
}

.browse-all-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.browse-all-content-container {
    width: 80rem;
}

.browse-all-heading {
    font-size: 3rem;
    margin-top: 3rem;
}

.accordion-item-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navbar {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
}

.navbar .left {
    flex-grow: 1;
    display: flex;
    gap: 2rem;
}

.navbar .right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
